/*
 * 04_sections/header
 * Styles for header section
 */
.site__header {
  position: relative;
  padding: 29px 0px 30px;
  z-index: 300;
}
#brand {
  @include square(193px, 194px);
  background: url(../img/bg_corner.png) 0% 0% no-repeat;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 500;
  span {
    position: absolute;
    top: 29px;
    left: 23px;
    display: block;
    text-indent: -9999px;
    @include sprite($logo_shultz_division);
  }
}

.match-facts {
  position: absolute;
  right: 0px;
  top: 0px;
  a {
    position: relative;
    z-index: 500;
    float: right;
    display: block;
    font-weight: $boldfont;
    font-size: 1.4em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $text_colour;
    background: #eac300 url(../img/bg_yellow.jpg) repeat;
    padding: 17px 35px 16px 64px;
    &:hover {
      color: $text_colour;
    }
    &.is-on {
      background: #bf2722 url(../img/bg_red.jpg) repeat;
    }
  }
  a > span {
    position: absolute;
    left: 29px;
    top: 50%;
    margin-top: -7px;
    display: block;
    width: 18px;
    height: 14px;
    i {
      @include transition(all .25s);
      position: absolute;
      display: block;
      left: 0px;
      height: 2px;
      width: 100%;
    }
    b {
      @include transition(all .25s);
      display: block;
      background: $text_colour;
      height: 2px;
      width: 100%;
    }
  }
  .f {
    top: 0px;
  }
  .m {
    top: 6px;
  }
  .l {
    top: 12px;
  }
  .do-collapse {
    .f {
      @include translate(0%, 6px);
      b {
        @include rotate(0deg);
      }
    }
    .l {
      @include translate(0%, -6px);
      b {
        @include rotate(0deg);
      }
    }
  }
  .do-rotate {
    .f {
      b {
        @include rotate(45deg);
      }
    }
    .l {
      b {
        @include rotate(-45deg);
      }
    }
  }
  .do-disappear {
    .m {
      opacity: 0;
    }
  }
}

.facts__dropdown {
  @include transition(all .25s);
  @include translate(0%, -100%);
  position: absolute;
  visibility: hidden;
  top: 100%;
  left: 0px;
  width: 100%;
  padding: 27px 0px 37px;
  background: url(../img/bg_dark_yellow.jpg) 0% 0% repeat;
  z-index: 100;
  p {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 6px;
  }
  &.do-show {
    visibility: visible;
  }
  &.do-translate {
    @include translate(0%, 0%);
  }
}
.dropdown__header {
  position: relative;
  padding: 0px 22px;
  max-width: 190px;
  margin: 0px auto 19px;
  .vs {
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -15px;
    span {
      display: block;
      font-size: 1.2em;
      font-weight: $semiboldfont;
      text-align: center;
      padding: 9px 0px;
    }
  }
  .country {
    width: 39px;
    font-size: 1.4em;
    font-weight: $semiboldfont;
    text-transform: uppercase;
    text-align: center;
    float: left;
    &.oponent {
      float: right;
    }
    span {
      display: block;
    }
    i {
      display: block;
      text-indent: -99999px;
      margin-bottom: 10px;
    }
  }

}
.dropdown__body {
  margin-bottom: 33px;
  padding: 0px 22px;
  i {
    margin: 0 auto;
  }
  .icon-stopwatch {
    margin-bottom: 10px;
  }
}
.dropdown__footer {
  padding: 0px 22px;
  i {
    margin: 0 auto;
  }
  .icon-stadium {
    margin-bottom: 10px;
  }
}
.division-line {
  display: block;
  width: 18px;
  height: 0px;
  border-top: 1px solid $text_colour;
  padding-bottom: 8px;
}
.vs {
  display: block;
  @include sprite($icon_diamond);
}
.flag {
  &-usa i {
    @include sprite($flag_usa);
  }
  &-col i {
    @include sprite($flag_col);
  }
  &-chn i {
    @include sprite($flag_chn);
  }
  &-ger i {
    @include sprite($flag_ger);
  }
  &-jpn i {
    background: $white;
    @include sprite($flag_jpn);
  }
  &-hon i {
    background: $white;
    @include sprite($flag_hon);
  }
  &-hai i {
    @include sprite($flag_hai);
  }
  &-pan i {
    background: $white;
    @include sprite($flag_pan);
  }
  &-cub i {
    background: $white;
    @include sprite($flag_cub);
  }
  &-jam i {
    background: $white;
    @include sprite($flag_jam);
  }
  &-tbd i {
    width: 39px;
    height: 25px;
    background: $white;
  }
}
.icon-stopwatch {
  display: block;
  text-indent: -99999px;
  @include sprite($icon_stopwatch);
}
.icon-stadium {
  display: block;
  text-indent: -99999px;
  @include sprite($icon_stadium);
}

@media (max-width: 53.125em) { // 850px

  .site__header {
    height: 50px;
    padding: 0px;
    background: url(../img/bg_yellow.jpg) 0% 0% repeat-x;
  }
  #brand {
    width: 100%;
    height: 50px;
    background: url(../img/bg_yellow.jpg) 0% 0% repeat-x;
    span {
      top: 8px;
      left: 10px;
    }
  }
  .match-facts {
    width: 100%;
    a {
      font-size: 1.3em;
      letter-spacing: 1px;
      padding: 17px 15px 16px 64px;
    }
  }


}

