/*
 * 02_items/btns
 * Styles for specialized anchors (buttons)
 */

%btn{
  @include inlineBlock(20);
  @include marpad(0px, 10px 21px 11px 50px);
  @include borderRadius(5px);
  color: $white;
  border: 1px solid darken($default, 10);
  font-size: $text_size;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: $lightfont;
  text-align: center;
  cursor: pointer;
  &:hover, &.active {
    background: darken($default,10);
    color: $white;
    text-decoration:none;
  }
  &:focus {
    border: 1px solid darken($default, 10);
  }
  &:active {

  }
}

.btn--main {
  position: relative;
  @extend %btn;
  background: $brand;
  border-color: $brand;
  &:hover, &.active {
    background: darken($brand, 10);
    border-color: $brand;
  }
  &:focus {
    border: 1px solid $brand;
  }
  i {
    display: block;
    position: absolute;
  }
  &.facebook {
    i {
      @include sprite($facebook_alt);
      left: 16px;
      top: 50%;
      margin-top: -10px;
    }
  }
  &.twitter {
    i {
      @include sprite($twitter_alt);
      left: 14px;
      top: 50%;
      margin-top: -8px;
    }
  }
}
