/*
 * 05_layouts/etc
 * This should be empty when going to production
 * this is a temporary bucket at the highest level
 * of the scss tree for temporary styles/sandboxing
 */

.counter__main {
  @include square(306px, 158px);
  background: #2f2f2f;
}

.counter__number {
  width: 25%;
  float: left;
}

.counter__row {
  @extend %group;
  margin: 0 0 3px;
  margin: 0 auto 5px;
  width: 68px;
}
.counter__bulb {
  display: block;
  @include square(13px, 15px);
  margin: 0 2px;
  float: left;
  background: $black;
  &.on {
    background: #e42e28;
  }
  &.off {
    background: #2f2f2f;
  }
}


.counter__seconds {
  background: #2f2f2f;
  width: 247px;
  .counter__bulb {
    width: 5px;
    margin: 0px 1px;
  }
}
.seconds__row {
  @extend %group;
  margin: 0 0 5px;
}