/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$facebook-offset-x: -80.5px;
$facebook-offset-y: -76.2px;
$facebook-width: 7px;
$facebook-height: 15.600000000000001px;
$facebook-total-width: 114px;
$facebook-total-height: 112px;
$facebook-image: '../img/sprite.svg';
$facebook: 0px 0px -80.5px -76.2px 7px 15.600000000000001px 114px 112px '../img/sprite.svg';
$icon_ball-offset-x: -5px;
$icon_ball-offset-y: -76.2px;
$icon_ball-width: 31.5px;
$icon_ball-height: 30px;
$icon_ball-total-width: 114px;
$icon_ball-total-height: 112px;
$icon_ball-image: '../img/sprite.svg';
$icon_ball: 0px 0px -5px -76.2px 31.5px 30px 114px 112px '../img/sprite.svg';
$icon_info-offset-x: -46.5px;
$icon_info-offset-y: -76.2px;
$icon_info-width: 24px;
$icon_info-height: 24px;
$icon_info-total-width: 114px;
$icon_info-total-height: 112px;
$icon_info-image: '../img/sprite.svg';
$icon_info: 0px 0px -46.5px -76.2px 24px 24px 114px 112px '../img/sprite.svg';
$icon_shield-offset-x: -85px;
$icon_shield-offset-y: -5px;
$icon_shield-width: 24px;
$icon_shield-height: 34.2px;
$icon_shield-total-width: 114px;
$icon_shield-total-height: 112px;
$icon_shield-image: '../img/sprite.svg';
$icon_shield: 0px 0px -85px -5px 24px 34.2px 114px 112px '../img/sprite.svg';
$logo_nji-offset-x: -5px;
$logo_nji-offset-y: -48.9px;
$logo_nji-width: 56.3px;
$logo_nji-height: 17.3px;
$logo_nji-total-width: 114px;
$logo_nji-total-height: 112px;
$logo_nji-image: '../img/sprite.svg';
$logo_nji: 0px 0px -5px -48.9px 56.3px 17.3px 114px 112px '../img/sprite.svg';
$logo_shultz_division-offset-x: -5px;
$logo_shultz_division-offset-y: -5px;
$logo_shultz_division-width: 70px;
$logo_shultz_division-height: 33.9px;
$logo_shultz_division-total-width: 114px;
$logo_shultz_division-total-height: 112px;
$logo_shultz_division-image: '../img/sprite.svg';
$logo_shultz_division: 0px 0px -5px -5px 70px 33.9px 114px 112px '../img/sprite.svg';
$twitter-offset-x: -85px;
$twitter-offset-y: -49.2px;
$twitter-width: 19.3px;
$twitter-height: 15.600000000000001px;
$twitter-total-width: 114px;
$twitter-total-height: 112px;
$twitter-image: '../img/sprite.svg';
$twitter: 0px 0px -85px -49.2px 19.3px 15.600000000000001px 114px 112px '../img/sprite.svg';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}