/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$facebook-offset-x: -534px;
$facebook-offset-y: -138.8px;
$facebook-width: 7px;
$facebook-height: 15.600000000000001px;
$facebook-total-width: 551px;
$facebook-total-height: 474px;
$facebook-image: '../img/sprite.svg';
$facebook: 0px 0px -534px -138.8px 7px 15.600000000000001px 551px 474px '../img/sprite.svg';
$facebook_alt-offset-x: -515px;
$facebook_alt-offset-y: -138.8px;
$facebook_alt-width: 9px;
$facebook_alt-height: 20px;
$facebook_alt-total-width: 551px;
$facebook_alt-total-height: 474px;
$facebook_alt-image: '../img/sprite.svg';
$facebook_alt: 0px 0px -515px -138.8px 9px 20px 551px 474px '../img/sprite.svg';
$flag_chn-offset-x: -316px;
$flag_chn-offset-y: -322.29999999999995px;
$flag_chn-width: 39px;
$flag_chn-height: 25px;
$flag_chn-total-width: 551px;
$flag_chn-total-height: 474px;
$flag_chn-image: '../img/sprite.svg';
$flag_chn: 0px 0px -316px -322.29999999999995px 39px 25px 551px 474px '../img/sprite.svg';
$flag_col-offset-x: -414px;
$flag_col-offset-y: -322.29999999999995px;
$flag_col-width: 39px;
$flag_col-height: 25px;
$flag_col-total-width: 551px;
$flag_col-total-height: 474px;
$flag_col-image: '../img/sprite.svg';
$flag_col: 0px 0px -414px -322.29999999999995px 39px 25px 551px 474px '../img/sprite.svg';
$flag_cub-offset-x: -463px;
$flag_cub-offset-y: -322.29999999999995px;
$flag_cub-width: 39px;
$flag_cub-height: 25px;
$flag_cub-total-width: 551px;
$flag_cub-total-height: 474px;
$flag_cub-image: '../img/sprite.svg';
$flag_cub: 0px 0px -463px -322.29999999999995px 39px 25px 551px 474px '../img/sprite.svg';
$flag_ger-offset-x: -5px;
$flag_ger-offset-y: -359.4px;
$flag_ger-width: 39px;
$flag_ger-height: 25px;
$flag_ger-total-width: 551px;
$flag_ger-total-height: 474px;
$flag_ger-image: '../img/sprite.svg';
$flag_ger: 0px 0px -5px -359.4px 39px 25px 551px 474px '../img/sprite.svg';
$flag_hai-offset-x: -71px;
$flag_hai-offset-y: -322.29999999999995px;
$flag_hai-width: 39px;
$flag_hai-height: 25px;
$flag_hai-total-width: 551px;
$flag_hai-total-height: 474px;
$flag_hai-image: '../img/sprite.svg';
$flag_hai: 0px 0px -71px -322.29999999999995px 39px 25px 551px 474px '../img/sprite.svg';
$flag_hon-offset-x: -120px;
$flag_hon-offset-y: -322.29999999999995px;
$flag_hon-width: 39px;
$flag_hon-height: 25px;
$flag_hon-total-width: 551px;
$flag_hon-total-height: 474px;
$flag_hon-image: '../img/sprite.svg';
$flag_hon: 0px 0px -120px -322.29999999999995px 39px 25px 551px 474px '../img/sprite.svg';
$flag_jam-offset-x: -169px;
$flag_jam-offset-y: -322.29999999999995px;
$flag_jam-width: 39px;
$flag_jam-height: 25px;
$flag_jam-total-width: 551px;
$flag_jam-total-height: 474px;
$flag_jam-image: '../img/sprite.svg';
$flag_jam: 0px 0px -169px -322.29999999999995px 39px 25px 551px 474px '../img/sprite.svg';
$flag_jpn-offset-x: -218px;
$flag_jpn-offset-y: -322.29999999999995px;
$flag_jpn-width: 39px;
$flag_jpn-height: 25px;
$flag_jpn-total-width: 551px;
$flag_jpn-total-height: 474px;
$flag_jpn-image: '../img/sprite.svg';
$flag_jpn: 0px 0px -218px -322.29999999999995px 39px 25px 551px 474px '../img/sprite.svg';
$flag_pan-offset-x: -267px;
$flag_pan-offset-y: -322.29999999999995px;
$flag_pan-width: 39px;
$flag_pan-height: 25px;
$flag_pan-total-width: 551px;
$flag_pan-total-height: 474px;
$flag_pan-image: '../img/sprite.svg';
$flag_pan: 0px 0px -267px -322.29999999999995px 39px 25px 551px 474px '../img/sprite.svg';
$flag_usa-offset-x: -365px;
$flag_usa-offset-y: -322.29999999999995px;
$flag_usa-width: 39px;
$flag_usa-height: 25px;
$flag_usa-total-width: 551px;
$flag_usa-total-height: 474px;
$flag_usa-image: '../img/sprite.svg';
$flag_usa: 0px 0px -365px -322.29999999999995px 39px 25px 551px 474px '../img/sprite.svg';
$icon_ball-offset-x: -5px;
$icon_ball-offset-y: -438.59999999999997px;
$icon_ball-width: 31.5px;
$icon_ball-height: 30px;
$icon_ball-total-width: 551px;
$icon_ball-total-height: 474px;
$icon_ball-image: '../img/sprite.svg';
$icon_ball: 0px 0px -5px -438.59999999999997px 31.5px 30px 551px 474px '../img/sprite.svg';
$icon_diamond-offset-x: -515px;
$icon_diamond-offset-y: -5px;
$icon_diamond-width: 31px;
$icon_diamond-height: 31px;
$icon_diamond-total-width: 551px;
$icon_diamond-total-height: 474px;
$icon_diamond-image: '../img/sprite.svg';
$icon_diamond: 0px 0px -515px -5px 31px 31px 551px 474px '../img/sprite.svg';
$icon_info-offset-x: -515px;
$icon_info-offset-y: -46px;
$icon_info-width: 24px;
$icon_info-height: 24px;
$icon_info-total-width: 551px;
$icon_info-total-height: 474px;
$icon_info-image: '../img/sprite.svg';
$icon_info: 0px 0px -515px -46px 24px 24px 551px 474px '../img/sprite.svg';
$icon_shield-offset-x: -5px;
$icon_shield-offset-y: -394.4px;
$icon_shield-width: 24px;
$icon_shield-height: 34.2px;
$icon_shield-total-width: 551px;
$icon_shield-total-height: 474px;
$icon_shield-image: '../img/sprite.svg';
$icon_shield: 0px 0px -5px -394.4px 24px 34.2px 551px 474px '../img/sprite.svg';
$icon_stadium-offset-x: -39px;
$icon_stadium-offset-y: -394.4px;
$icon_stadium-width: 34px;
$icon_stadium-height: 25.4px;
$icon_stadium-total-width: 551px;
$icon_stadium-total-height: 474px;
$icon_stadium-image: '../img/sprite.svg';
$icon_stadium: 0px 0px -39px -394.4px 34px 25.4px 551px 474px '../img/sprite.svg';
$icon_stopwatch-offset-x: -515px;
$icon_stopwatch-offset-y: -80px;
$icon_stopwatch-width: 20px;
$icon_stopwatch-height: 22.700000000000003px;
$icon_stopwatch-total-width: 551px;
$icon_stopwatch-total-height: 474px;
$icon_stopwatch-image: '../img/sprite.svg';
$icon_stopwatch: 0px 0px -515px -80px 20px 22.700000000000003px 551px 474px '../img/sprite.svg';
$logo_nji-offset-x: -163px;
$logo_nji-offset-y: -278.4px;
$logo_nji-width: 56.3px;
$logo_nji-height: 17.3px;
$logo_nji-total-width: 551px;
$logo_nji-total-height: 474px;
$logo_nji-image: '../img/sprite.svg';
$logo_nji: 0px 0px -163px -278.4px 56.3px 17.3px 551px 474px '../img/sprite.svg';
$logo_nji_alt-offset-x: -85px;
$logo_nji_alt-offset-y: -278.4px;
$logo_nji_alt-width: 68px;
$logo_nji_alt-height: 21px;
$logo_nji_alt-total-width: 551px;
$logo_nji_alt-total-height: 474px;
$logo_nji_alt-image: '../img/sprite.svg';
$logo_nji_alt: 0px 0px -85px -278.4px 68px 21px 551px 474px '../img/sprite.svg';
$logo_shultz_division-offset-x: -5px;
$logo_shultz_division-offset-y: -278.4px;
$logo_shultz_division-width: 70px;
$logo_shultz_division-height: 33.9px;
$logo_shultz_division-total-width: 551px;
$logo_shultz_division-total-height: 474px;
$logo_shultz_division-image: '../img/sprite.svg';
$logo_shultz_division: 0px 0px -5px -278.4px 70px 33.9px 551px 474px '../img/sprite.svg';
$logo_shultz_division_alt-offset-x: -5px;
$logo_shultz_division_alt-offset-y: -322.29999999999995px;
$logo_shultz_division_alt-width: 56px;
$logo_shultz_division_alt-height: 27.1px;
$logo_shultz_division_alt-total-width: 551px;
$logo_shultz_division_alt-total-height: 474px;
$logo_shultz_division_alt-image: '../img/sprite.svg';
$logo_shultz_division_alt: 0px 0px -5px -322.29999999999995px 56px 27.1px 551px 474px '../img/sprite.svg';
$old_glory-offset-x: -5px;
$old_glory-offset-y: -5px;
$old_glory-width: 500px;
$old_glory-height: 263.4px;
$old_glory-total-width: 551px;
$old_glory-total-height: 474px;
$old_glory-image: '../img/sprite.svg';
$old_glory: 0px 0px -5px -5px 500px 263.4px 551px 474px '../img/sprite.svg';
$twitter-offset-x: -515px;
$twitter-offset-y: -168.8px;
$twitter-width: 19.3px;
$twitter-height: 15.600000000000001px;
$twitter-total-width: 551px;
$twitter-total-height: 474px;
$twitter-image: '../img/sprite.svg';
$twitter: 0px 0px -515px -168.8px 19.3px 15.600000000000001px 551px 474px '../img/sprite.svg';
$twitter_alt-offset-x: -515px;
$twitter_alt-offset-y: -112.7px;
$twitter_alt-width: 20px;
$twitter_alt-height: 16.1px;
$twitter_alt-total-width: 551px;
$twitter_alt-total-height: 474px;
$twitter_alt-image: '../img/sprite.svg';
$twitter_alt: 0px 0px -515px -112.7px 20px 16.1px 551px 474px '../img/sprite.svg';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}